.product td {
    border-top: 2px solid #000 !important;
    border-right: 2px solid #000 !important;
}

.table-bordered td, .table-bordered th ,.table-bordered thead td, .table-bordered thead th{
    border: none;
}

.product td:last-child {
    border-right: 0 !important;
}
